# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/firebase,react
# Edit at https://www.gitignore.io/?templates=firebase,react

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.gitignore.io/api/firebase,react

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

